.list_table{
  position: relative;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  text-align: center;

  > li{
    width: 100%;
    height: 100%;

    &:nth-child(2){
      width: 100%;
      height: 35px;
      position: relative;

      hr{
        width: 100%;
        border: 1px solid #dddddd;
        margin: 0;
        top: 0;
      }
    }
    &:nth-child(3){
      width: 100%;
      max-height: 36vh;
      overflow: scroll !important;
      position: relative;
    }
  } 
  .fnd_info{
    width: 100%;
    height: 55px;

    .list_title{
      width: 100%;
      height: 100%;
      display: flex;
      
      > li{
        width: 30%;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: -1.2px;
        padding: 20px 0;

        &:first-child{
          padding-left: 60px;
        }
        &:nth-child(2){
          width: 40%;
          padding-left: 60px;
        }
      }
    }
  }
  @at-root .talker_deco{
    position: absolute;
    top: 0;
    left: 170px;
    font-size: 12px;
    font-weight: bold;
    color: #fb3e1d;
    border: 1px solid #fb3e1d;
    padding: 7px;
    border-radius: 100px;
    border-bottom-left-radius: 0;
  }

  ::-webkit-scrollbar-thumb:vertical{
    background-color:#f8f8f8;
  }
}





