.talker_info > li > a{
    color: #000;
}
.talker_info > li > a:visited{
    color: #000;
}

/* mate list */

.list_table{
    position: relative;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    text-align: center;
}
.list_table > li{
    width: 100%;
    height: 100%;
}
.list_table > li:first-child{
    width: 100%;
    height: 65px;
}
.list_table > li:nth-child(2){
    width: 100%;
    height: 35px;
    padding: 10px 0;
    position: relative;
}
.list_table > li:nth-child(2) hr{
    width: 100%;
    border: 1px solid #dddddd;
    top: 0;
}
.list_table > li:nth-child(3){
    width: 100%;
    max-height: 34vh;
    overflow: scroll !important;
    position: relative;
}

.list_title > li{
    width: 30%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: -1.2px;
    padding: 20px 0;
}
.list_title > li:nth-child(2){
    width: 40%;
    padding-left: 60px;
}

.talker_deco{
    position: absolute;
    top: 0;
    left: 170px;
    font-size: 12px;
    font-weight: bold;
    color: #fb3e1d;
    border: 1px solid #fb3e1d;
    padding: 7px;
    border-radius: 100px;
    border-bottom-left-radius: 0;
}

::-webkit-scrollbar-thumb:vertical{
  background-color:#f8f8f8;
}