.bigdata {

    .search-bar {
        width: 39.8vw;
        height: 6.3vh;
        position: absolute;
        top: 13.3vh;
        left: 13.6vw;
        border-bottom: solid 3px black;

        .input {
            width: 37vw;
            height: 6vh;
            font-family: NotoSansCJKkr;
            font-size: 36px;
            font-weight: bold;
            line-height: 1.39;
            letter-spacing: -1.44px;
        }

        .input::placeholder {
            opacity: 0.4;
        }
    
        .drop-down-button {
            background-image: url(../../../static/images/drop-down-button.png);
            background-size: cover;
            width: 1.04vw;
            height: 1.11vh;
            position: absolute;
            top: 3vh;
            left: 38vw;
        }
    }

    .default-value {
        position: absolute;
        top: 25vh;
        left: 13.6vw;
        display: flex;

        .phrases-1 {
            width: 19.7vw;
            height: 18.9vh;
            font-family: NotoSansCJKkr;
            font-size: 71px;
            font-weight: bold;
            line-height: 1.39;
            letter-spacing: -2.84px;
        }

        .phrases-2 {
            position: absolute;
            top: 5.5vh;
            left: 40.2vw;
            width: fit-content;
            height: fit-content;

            width: 158px;
            height: 69px;
            font-family: NotoSansCJKkr;
            font-size: 24px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.38;
            letter-spacing: -0.96px;
            text-align: left;
            color: #161616;

            .phrases-2-2 {
                display: flex;

                .phrases-red {
                    color: #fb3e1d;
                }
            }
        }

        .arrow {
            background-image: url(../../../static/images/red-arrow.png);
            background-size: cover;
            width: 24.4vw;
            height: 1.85vh;
            position: relative;
            top: 13.8vh;
            left: 5.5vw;
        }
    }
}