a{
    text-decoration: none;
}
a:visited{
    color: #fb3e1d;
}

.mate_wrap{
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: #fb3e1d;
    background-image: url(../../../static/images/mate_back.png);
    background-repeat: no-repeat;
    background-size: 35vw 46vh;
    background-position: -260px -60px;
}

.mate_title{
    position: absolute;
    top: 15vh;
    left: 15vw;
    width: 25vw;
    color: #fff;
}
.mate_title h1{
    font-size: 44px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: -1.9px;
}
.mate_title p{
    font-size: 14px;
    line-height: 1.63;
    letter-spacing: -0.6px;
    margin-top: 25px;
}

.length_box{
    position: absolute;
    top: 38vh;
    left: 16vw;
}

.t_box{
    position: absolute;
    top: 50%;
    left: 14vw;
    width: 86vw;
    height: 360px;
    overflow: hidden;
    overflow-x: scroll;
}

::-webkit-scrollbar{ width:9px; height:10px; }
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment{ 
  display:block;
  height:0;
  background-color:transparent;
}
::-webkit-scrollbar-track-piece{
  background-color:rgba(255,255,255,0.2);
  -webkit-border-top-right-radius:8px;
  -webkit-border-top-left-radius:8px;
  -webkit-border-bottom-right-radius:8px;
  -webkit-border-bottom-left-radius:8px;
}
::-webkit-scrollbar-thumb:vertical{
  height:60px;
  background-color:#fff;
  -webkit-border-radius:8px;
}
::-webkit-scrollbar-thumb:horizontal{
  width:60px;
  background-color:#fff;
  -webkit-border-radius:8px;
}

/* btn */

.mate_btn{
    position: absolute;
    top: 21vh;
    right: 0;
    width: 25vw;
}
.mate_btn .matelink_btn{
    color: #fb3e1d;
    background-color: rgba(255,255,255,0.8);
    border-radius: 100px;
    border: none;
    padding: 13px 25px;
    font-size: 14pt;
    font-weight: 600;
    letter-spacing: -0.96px;
    cursor: pointer;
    transition-duration: 0.5s;
}
.mate_btn .matelink_btn:hover{
    background-color: rgba(255,255,255,1);
    transition-duration: 0.5s;
}