/* ticket box */

.arrow_list{
  position: relative;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 26vh;
  background-color: #efefef;

  .paddle-nav{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%);
    width:88%;
    height: 100%;
    z-index: -1;

    > li{
      position: absolute; 
      top:0; 
      width: 40px; 
      height: 100%;
    }
    > ul{
      width: 100%;
      height: 100%;
      position: relative;

      .arrow{position: absolute;}
      .arrow.prev{top: 50%; left:0;}
      .arrow.next{top: 50%; right:0;}
      .arrow button{
        overflow:hidden; 
        position: absolute; 
        top:50%; 
        left:50%; 
        width: 40px; 
        height: 40px; 
        font-size: 20px;
        transform: translateX(-50%) translateY(-50%);
        padding:0; 
        border: none; 
        background-color: #fff; 
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}

/* ticket */

.t_box{
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 81vw;
  height: 100%;
  overflow: hidden;

  .call_t{
    width: 3000px;
    height: 100%;
    position: absolute;
    left: 0;

    > li{
      float: left;
      cursor: pointer;
      // border: 1px solid #222;
    }
  }
  .active{
    opacity: 1 !important;
    transition-duration: 0.5s;
  }
  .none{
    opacity: 0.6 !important;
    transition-duration: 0.5s;
  }
}

