.my-mate {
    position: absolute;
    right: 0;
    width: 23.75vw;
    height: 100vh;
    box-shadow: -6px 3px 11px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    z-index: 3;

    ::-webkit-scrollbar{
        width:5px;
    }
    ::-webkit-scrollbar-button:start:decrement, 
    ::-webkit-scrollbar-button:end:increment{ 
        display:block;
        height:0;
        background-color:transparent;
    }
    ::-webkit-scrollbar-track-piece{
        background-color:rgba(255,255,255,0.2);
        -webkit-border-top-right-radius:8px;
        -webkit-border-top-left-radius:8px;
        -webkit-border-bottom-right-radius:8px;
        -webkit-border-bottom-left-radius:8px;
    }
    ::-webkit-scrollbar-thumb:vertical{
        height:60px;
        background-color:#b7b7b7;
        -webkit-border-radius:8px;
    }

    .buttons {
        position: absolute;
        top: 40.92vh;
        right: 24.27vw;
        z-index: 4;

        .list-button {
            width: 4.53vw;
            height: 8.1vh;
            background-image: url(../../../../static/images/button_list_on.png);
            background-size: cover;
            margin-bottom: 2.08vh;
            cursor: pointer;
        }

        .chat-button {
            width: 4.53vw;
            height: 8.1vh;
            background-image: url(../../../../static/images/button_chat_off.png);
            background-size: cover;
            margin-bottom: 2.08vh;
            cursor: pointer;
        }
    }

    .header {
        width: 10.05vw;
        height: 9.62vh;
        font-family: NotoSansCJKkr;
        font-size: 1.8vw;
        font-weight: bold;
        line-height: 1.39;
        letter-spacing: -1.44px;
        position: absolute;
        top: 5.18vh;
        right: 12.39vw;
    }

    .close-button {
        width: 3.12vw;
        height: 5.55vh;
        background-image: url(../../../../static/images/icon_x.png);
        background-size: cover;
        position: absolute;
        top: 5.18vh;
        right: 1.25vw;
        cursor: pointer;
    }

    .collection {
        overflow: scroll;
        overflow-x: hidden;
        position: relative;
        top: 16.85vh;
        height: 45.37vh;

        .header-2 {
            width: 100%;
            text-align: center;
            height: fit-content;
            margin-top: 3vh;
        }

        .title {
            text-align: center;
            font-family: NotoSansCJKkr;
            font-size: 2.22vh;
            font-weight: 500;
            line-height: 1.38;
            letter-spacing: -0.96px;
            text-align: center;
            margin-bottom: 2.1vh;
        }

        .contents {
            text-align: center;
            font-family: NotoSansCJKkr;
            font-size: 1.5vh;
            line-height: 1.63;
            letter-spacing: -0.64px;
            color: #707070;
        }
    }

    .collection-2 {
        overflow: scroll;
        overflow-x: hidden;
        position: relative;
        top: 16.85vh;
        height: 80vh;

        .header-2 {
            width: 100%;
            text-align: center;
            height: fit-content;
            margin-top: 3vh;
        }

        .title {
            text-align: center;
            font-family: NotoSansCJKkr;
            font-size: 2.22vh;
            font-weight: 500;
            line-height: 1.38;
            letter-spacing: -0.96px;
            text-align: center;
            margin-bottom: 2.1vh;
        }

        .contents {
            text-align: center;
            font-family: NotoSansCJKkr;
            font-size: 1.5vh;
            line-height: 1.63;
            letter-spacing: -0.64px;
            color: #707070;
        }
    }
}

.apply-friend {
    width: 100%;
    height: 37.77vh;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 0;
    padding: 0.57vw;

    .fold-button {
        width: 1vw;
        border-top: 0.5vw solid #b7b7b7;
        border-right: 0.5vw solid transparent;
        border-bottom: 0.5vw solid transparent;
        border-left: 0.5vw solid transparent;
        position: relative;
        left: 20.5vw;
        top: 1vh;
        cursor: pointer;
    }

    .collection {
        position: relative;
        top: 1vh;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 32.77vh;
    }
}

.apply-friend-2 {
    width: 100%;
    height: 7.9vh;
    background-color: #f4f4f4;
    position: absolute;
    bottom: 0;
    padding: 2.7vh 1.7vw 2.7vh 2vw;
    display: flex;
    justify-content: space-between;

    .text {
        width: fit-content;
        height: fit-content;
        font-family: NotoSansCJKkr;
        font-size: 1.4vh;
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: -0.64px;
        text-align: center;
        color: #959494;
    }

    .rotated-fold-button {
        width: 1vw;
        height: fit-content;
        border-top: 0.5vw solid #b7b7b7;
        border-right: 0.5vw solid transparent;
        border-bottom: 0.5vw solid transparent;
        border-left: 0.5vw solid transparent;
        cursor: pointer;
        transform: rotate(180deg);
        position: relative;
        bottom: 0px;
    }
}