// 채팅창
.chat {
    width: 23.69vw;
    height: 100vh;
    box-shadow: -6px 3px 11px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    z-index: 3;
    position: absolute;
    right: 0;
    ::-webkit-scrollbar{
        width:5px;
    }
    ::-webkit-scrollbar-button:start:decrement, 
    ::-webkit-scrollbar-button:end:increment{ 
        display:block;
        height:0;
        background-color:transparent;
    }
    ::-webkit-scrollbar-track-piece{
        background-color:rgba(255,255,255,0.2);
        // -webkit-border-top-right-radius:8px;
        // -webkit-border-top-left-radius:8px;
        // -webkit-border-bottom-right-radius:8px;
        // -webkit-border-bottom-left-radius:8px;
    }
    ::-webkit-scrollbar-thumb:vertical{
        height:60px;
        background-color: gray;
        // -webkit-border-radius:8px;
    }

    // 채팅, 친구 리스트 버튼
    .buttons {
        position: absolute;
        top: 40.92vh;
        right: 24.27vw;
        z-index: 4;

        .list-button {
            width: 4.53vw;
            height: 8.1vh;
            background-image: url(../../../../static/images/button_list_off.png);
            background-size: cover;
            margin-bottom: 2.08vh;
            cursor: pointer;
        }

        .chat-button {
            width: 4.53vw;
            height: 8.1vh;
            background-image: url(../../../../static/images/button_chat_on.png);
            background-size: cover;
            margin-bottom: 2.08vh;
            cursor: pointer;
        }
    }

    // 채팅창 상단
    .header {
        height: 12.59vh;

        .title {
            display: flex;
            position: relative;
            top: 5.18vh;
            left: 1.25vw;

            .name {
                width: fit-content;
                font-family: NotoSansCJKkr;
                font-size: 1.87vw;
                font-weight: bold;
                line-height: 1.39;
                letter-spacing: -0.07vw;
                position: relative;
                top: 1vh;
            }

            .text {
                position: relative;
                top: 2.7vh;
                left: 0.4vw;
            }
        }

        // 채팅창 닫는 버튼
        .close-button {
            width: 3.12vw;
            height: 5.55vh;
            background-image: url(../../../../static/images/icon_x.png);
            background-size: cover;
            position: absolute;
            top: 5.18vh;
            right: 1.25vw;
            cursor: pointer;
        }
    }

    // 채팅 내용
    .content {
        height: 75vh;
        background-color: #f4f4f4;
        padding-top: 4.07vh;
        padding-left: 1.14vw;
        padding-right: 1.14vw;
        overflow: scroll;
        overflow-x: hidden;
    }
    
    // 채팅창 하단
    .footer {
        height: 12.41vh;
        padding: 1.09vw;
        display: flex;

        // 입력 창
        .input {
            width: 14.27vw;
            height: 8.51vh;
            border: solid 1px transparent;
            resize: none;
            font-size: 16px;
        }

        // 메세지 보내는 버튼
        .send-button {
            background-image: url(../../../../static/images/icon_Send.png);
            background-size: cover;
            width: 6.56vw;
            height: 5.55vh;
            cursor: pointer;
            margin-top: 1.11vh;
        }
    }
}