@import 'variables.scss';

.backImage{
  @extend %back-image-container;
  display: flex;
  justify-content: space-between;
  .back-column{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    width: 22%;
    height: 1080px;
    max-width: 350px;

    .line-down{
      height: 25%;
      text-align: center;
      img{
        height:100%;
      }
    }
    .circle{
      @extend %circle-default;
      img{
        width: 100%;
        height: 100%;
      }
      &.left-friends{
        top: 50vh;
        z-index: 1;
      }
      &.left-gradation{
        top: 80vh;
      }
      &.right-none{
        border-radius: 50%;
        border:$red-border;
        top: -10vh;
      }
      &.right-vene{
        top: 20vh;
        z-index: 1;
      }
      &.right-gradation{
        top: 33vh;
        z-index: -1;
        background-image: linear-gradient(309deg, #fb3e1d 30%, #ee931c 55%, #e1ff01);
      }
    }
  }
  .back-column:nth-child(2){
    z-index: 10;
    width: 25%;
    max-width: 400px;
  }
}