.buttons {
    position: absolute;
    top: 40.92vh;
    right: 0.57vw;
    z-index: 999;

    .list-button {
        width: 4.53vw;
        height: 8.1vh;
        background-image: url(../../../../static/images/button_list_off.png);
        background-size: cover;
        margin-bottom: 2.08vh;
        cursor: pointer;
    }
    
    .chat-button {
        width: 4.53vw;
        height: 8.1vh;
        background-image: url(../../../../static/images/button_chat_off.png);
        background-size: cover;
        cursor: pointer;
    }
}