@import 'variables.scss';

.move-left{
  right: calc(100% - 178px) !important;
}

.step-container{
  @extend %step-container; 
  transition: all 1s ease;
  z-index: -2;
  position: absolute;
  right: 0;
  width: 100%;
  // left: 120px;
  // width: -webkit-calc(100% - 60px);
  // width:     -moz-calc(100% - 60px);
  // width:         calc(100% - 60px);
  padding-left: 140px;
  .contents { 
    display : flex;
    justify-content: space-between;
    align-items: center;
    width: 1090px;
    margin-left: 50px;
    .prev-btn{
      position: relative;
      left: -40px;
      cursor: pointer;
    }
  };
  .title {
    font-size: 35px;
    color: #161616;
    font-weight: bold;
    letter-spacing: -1px;
    padding-left: 10px;
  }
  p {
    font-size: 10px;
    line-height: 15px;
    margin-bottom: 50px;
    padding-left: 10px;

    > span{
      color: $red;
    }
  }
  .guide{
    margin: 22px 0;
    // margin-top: 30px;
  }
  .bar{
    @extend %bar; 
    background-color: $neon;
    color: $red;
  }

  .style-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    // top: 10%;
    .style-column{
      margin-right: 10px;
      margin-left: 10px;
    }
    .line-container{
      margin: 0 40px;
      width: 1px;
      border: 0.5px dashed $red;
      height: 330px;
    }
    
  }
}
.next-btn{
  position: relative;
  left: 30px;
  cursor: pointer;
}