// 로고
.logo {
    position: absolute;
    top: 1.38vh;
    left: 1vw;
    width: 4.6vw;
    height: 4.6vw;
    background-image: url(../../../static/images/logo.png);
    background-size: cover;    
}

// 배경 원들
.backgroundCircle{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -2;

    .circle {
        width: 23vw;
        height: 23vw;
        border-radius: 50%;
        position: absolute;
    }

    #redCircle1 {
        background-color: #fb3e1d;
        // top: -18vh;
        // left: -8vw;
        top: -18.98vh;
        left: -0.98vw;
    }

    #edgeCircle1 {
        border: 2px solid #fb3e1d;
        box-sizing: border-box;
        top: -18vh;
        left: 41.55vw;
    }

    #greenCircle1 {
        background-color: #e1ff01;
        top: -18vh;
        left: 50.61vw;
        z-index: -1;
    }

    #greenCircle2 {
        background-color: #e1ff01;
        top: 24.53vh;
        left: -6.4vw;
        opacity: 0.69;
    }

    #pictureCircle1 {
        background-image: url(../../../static/images/oval_img1.png);
        background-size: cover;
        top: 24.53vh;
        left: -6.4vw;
        z-index: -1;
    }

    #pictureCircle2 {
        background-image: url(../../../static/images/oval_img2.png);
        background-size: cover;
        top: 54.53vh;
        left: 26.86vw;
    }

    #edgeCircle2 {
        border: 2px solid #fb3e1d;
        box-sizing: border-box;
        top: 54.53vh;
        left: 42.08vw;
        z-index: -1;
    }

    #gradationCircle {
        background: radial-gradient(at 70% 70%, #fb3e1d 25%, #e1ff01 80%);
        top: 54.53vh;
        left: 58.42vw;
    }

    #redCircle2 {
        background-color: #fb3e1d;
        top: 54.53vh;
        left: 65.1vw;
        z-index: -2;
    }
}

// 메뉴
.menu {
    position: absolute;
    width: 22.08vw;
    height: 52.4vh;
    left: 9.11vw;
    top: 28.98vh;

    .menuList {
        height: fit-content;
        font-family: OpenSans;
        font-size: 4.68vw;
        font-weight: bold;
        line-height: 1.22;
        letter-spacing: -5.4px;
        margin-bottom: 26px;
    }
}

// 화살표와 소개문구
.lines1 {
    display: flex;
    position: absolute;
    left: 32.29vw;
    top: 32.31vh;
    width: fit-content;
    height: fit-content;

    .dashedArrow {
        width: 28.02vw;
        height: 20px;
        background-image: url(../../../static/images/line_mypage2.png);
        background-size: cover;
        margin-right: 22px;
    }

    .triangles {
        display: flex;
        margin-right: 19px;

        #redTriangle1 {
            margin-right: 10px;
        }
    }

    .redTriangle {
        width: 20px;
        height: 20px;
        border-top: 10px solid transparent;
        border-right: 10px solid red;
        border-bottom: 10px solid transparent;
        border-left: 10px solid transparent;
    }

    .introduction {
        width: 167px;
        height: 50px;
        font-family: NotoSansCJKkr;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.63;
        letter-spacing: -0.6px;
        color: #161616;
        position: relative;
        bottom: 14px;
    }

    .lineArrow {
        display: flex;

        #redTriangle3 {
            margin-left: 6px;
            margin-right: 16px;
        }

        .redLine {
            width: 22.91vw;
            height: 1px;
            border: 1px solid red;
            position: relative;
            top: 9px;
        }
    }
}

.lines2 {
    position: absolute;
    top: 87.91vh;
    left: 20.78vw;
    width: fit-content;
    height: fit-content;
    display: flex;

    .dashedLine {
        width: 13.48vw;
        height: 1px;
        border: 1px dashed red;
        position: relative;
        top: 11px;
        margin-right: 8.59vw;
    }

    .redLine {
        width: 19.01vw;
        height: 1px;
        border: 1px solid red;
        position: relative;
        top: 11px;
        margin-right: 2.6vw;
        z-index: -2;
    }

    .whiteArrow {
        width: 13.02vw;
        height: 22px;
        background-image: url(../../../static/images/white_arrow.png);
        background-size: cover;
    }
}