@import 'variables.scss';
.ticket-wrapper{
    z-index: 1;
    height: 350px;
    width: 1150px;
    top: 30px;
    // text-align: center;
    background-image: url("../../../../static/images/schedule_ticket.svg");
    background-size: cover;
    position: relative;

    .ticket-info{
      position: absolute;
      padding-left: 8%;
      padding-top: 15px;
      padding-bottom: 15px;
      left: 38%;
      // width: 280px; px로 두면 안됨
      top: 10%;
      label {
        font-size: 2px;
        color: $grey;
      }
      // div{
      //   margin-bottom: 20px;
      // }
      .country{
        margin-bottom: 25px;
        input {
          width: 270px;
          height: 43px;
          font-size: 31px;
          border: none;
          border-bottom: 1px solid $red;
          font-weight: bold;
          margin-top: 10px;
        }
        .tri{
          position: absolute;
          top: 56px;
          right: 30px;
          font-size: 8px;
          color: $red;
        }
      }

      .date-range{
        display: flex;
        margin-bottom: 30px;
        .right-arrow {
          // background-image: url('../../../../static/images/half-arrow-right.png');
          // background-size: cover;
          img {
            position: relative;
            top: 30px;
            width: 80%;
          }
        }
        .date-con {
          .date{
            padding-top: 4px;
            margin-top: 15px;
            background-color: black;
            border-radius: 17.2px;
            height: 25px;
            color: white;
            width: 95px;
            text-align: center;
          }
        }
      }
    }
    .total-date{
      border-bottom: 1px solid $red;
      width: 203px;
      padding-bottom: 15px;
      position: relative;
      .num{
        font-weight: bold;
        font-size: 30px;
        padding-left: 30px;
      } 
      .bak{
        position: absolute;
        top: 15px;
        right: 0;
        font-weight: bold;
        font-size: 14px;
      }
    }

    .ticket-side-img{
      background-image: url('../../../../static/images/ny.png');
      background-size: cover;
      width: 150px;
      height: 91%;
      position: absolute;
      right: 0;
      top: 15px;
    }
    .ticket-side-img-red{
      background-image: url('../../../../static/images/colorbox.svg');
      background-size: cover;
      width: 150px;
      height: 91%;
      position: absolute;
      right: 0;
      top: 15px;
    }
    .complete-btn{
      position: absolute;
      bottom: 30px;
      right: 30px;
      width: 80px;
      height: 40px;
      border: 0;
      font-size: 9px;
      border-radius: 39px;
      img {
        height: 28px;
      }
    }
}