@import 'variables.scss';

.backImage{
  @extend %back-image-container;
  
  .circle{
    @extend %circle-default;
  }

  .top-none-border{
    border: $red-border;
    top: -10%;
    left: 41vw;
    z-index: 0;
  }

  .top-neon{
    background-color: $neon;
    top: -10vh;
    left: 48vw;
    z-index: -1;
  }
  .left-neon{
    background-color: $neon;
    top: 25vh;
    left: -6vw;
    z-index: 0;
  }
  .line{
    position: absolute;
    width: 15vw;
    height: 248.6px;
    border-bottom: dashed 2px #ff3c00;
    bottom: 13vh;
    left: 25vw;
  }
  .bottom-image{
    background-image: url(../../../../images/back1.png);
    background-size: cover;
    bottom:-11vh;
    left:51vw;
    z-index: 0;
  }
  .bottom-gra{
    background-image: url(../../../../static/images/gra-circle-2.jpg);
    background-size: cover;
    bottom:-11vh;
    left:65vw;
    z-index: -1;
  }
  .curve-container{
    height: 26vh;
    position: absolute;
    top: 20vh;
    left:30vw;
  }
  .curve{
    height: 100%;
    position: relative;
  }
}

.content{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 35vh;
  margin-left: 10vw;
  margin-right: 10vw;
  // max-width: 1034px;
  .content-title{
    margin: 0;
    font-size: 55px;
    font-weight: bold;
  }
  .content-subtitle{
    margin-top: 13px;
    margin-bottom: 20px;
    position: relative;
    // margin-top:-8px;
    font-size: 20px;
    font-weight: bold;
  }

  .welcome-container{
    font-size: 17px;
    display: flex;
    line-height: 23px;
    .content-welcome-column{
      font-weight: 500;
      margin-right: 110px;
    }
  }

  .content-column:nth-child(2){
    a {
      text-decoration: none;
    }
    div{
      width: 120px;
      height: 47px;
      border-radius: 44px;
      text-align: center;
      padding: 6px;
      font-weight: 500;
      padding-top: 15px;
    }
    .button-login{
      background-color: #fb3e1d;
      a, a:visited {
        color: white;
      }
    }
    .button-register{
      background-color: white;
      border: solid 1px #707070;
      color: black;
      margin-top: 20px;
      a, a:visited {
        color: black;
      }
    }
  }

}
