@import 'variables.scss';

.move-left{
  margin-left: -100%;
}
.step-container{
  @extend %step-container; 
  transition: margin 1s ease;
  z-index: -1;
  position: absolute;
  // left: 60px;
  width: -webkit-calc(100% - 60px);
  width:     -moz-calc(100% - 60px);
  width:         calc(100% - 60px);
  .exist-email-error{
    position: absolute;
  }
  .contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    width: 1090px;
    .form-contents{
      width: 700px;
      .title{
        font-size: 30px;
        font-weight: bold;
        color: #161616;
        line-height: 1.29;
        letter-spacing: -1px;
        margin-bottom: 20px;
      }
      .guide{
        font-size: 10px;
      }
      input{
        width: 100%;
      }
      .first-second-row{
        display: flex;
        margin-top: 60px;
        .column{
          width: 50%;
          margin-right: 10px;
          .half{
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }

  }
  .bar{
    @extend %bar; 
    color: $red;
  }
}