@import 'variables.scss';

.move-left{
  margin-left: -87.7vw;
}
.step-container{
  @extend %step-container; 
  transition: margin 1s ease;
  z-index: -1;
  position: absolute;
  // left: 60px;
  width: -webkit-calc(100% - 60px);
  width:     -moz-calc(100% - 60px);
  width:         calc(100% - 60px);

  .after-request-error{
    position: relative;
    width: max-content;
    top: 23px;
    /* position: absolute; */
    /* top: 299px; */
    border: 1px solid #fb3e1d;
    border-radius: 16px;
    padding: 3px 7px;
    color: #fb3e1d;
    font-size: 8px;
  }
  .contents{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    width: 1090px;
    .form-contents{
      width: 700px;
      .contents-header{
        position: relative;
      }
      .title{
        font-size: 30px;
        font-weight: bold;
        color: #161616;
        line-height: 1.29;
        letter-spacing: -1px;
        margin-bottom: 20px;
      }
      .guide{
        font-size: 10px;
      }
      input{
        width: 100%;
      }
      .first-second-row{
        display: flex;
        margin-top: 60px;
        .column{
          width: 50%;
          margin-right: 15px;
          .half{
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .third-row{
        margin-right: 15px;
      }
    }

    .gender-container{
      position: relative;
      label {
        font-weight: bold;
        letter-spacing: -0.5px;
        color: #161616;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .gender{
        position: relative;
        border-bottom: 1px solid black;
        height: 38px;
        width: 130px;
        padding-left: 5px;
        padding-top: 12px;
        font-size: 14px;
      }
      .gender-dropbox{
        z-index: 4;
        position: absolute;
        font-size: 14px;
        width: 130px;
       li {
        font-size: 13px;
        height: 35px;
        padding-left: 10px;
        padding-top: 8px;
        cursor: pointer;
        opacity: 0.8;
        border: solid 2px #eaeaea;
       }
       li:first-child{
         border-bottom: 0;
       }

      }
      .drop-down-button {
        position: absolute;
        right: 15px;
        top: 32px;
        color: #d3d3d3;
        font-size: 7px;
        cursor: pointer;
        // padding-left: 100px;
      }
    }
    .nextBtn{
      position: relative;
      left: 180px;
    }
  }
  .bar{
    @extend %bar; 
    color: $red;
  }
}