.box {
    width: 26.3vw;
    height: 11.5vh;
    background-image: url(../../../../static/images/bigdata-list-background.png);
    background-size: cover;
    background-position: right;
    // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 0.9vh;
    display: flex;
    padding: 2vh 1.6vw 2vh 1.25vw;

    .picture {
        width: 3.64vw;
        height: 3.64vw;
    }

    .left-row {
        margin-left: 1vw;
        margin-top: 0.5vw;

        .country-name {
            font-family: NotoSansCJKkr;
            font-size: 2.22vh;
            font-weight: 500;
            line-height: 1.38;
            letter-spacing: -0.96px;
        }

        .content {
            display: flex;

            .phrases {
                font-family: NotoSansCJKkr;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.63;
                letter-spacing: -0.64px;
            }

            .number {
                font-family: NotoSansCJKkr;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.63;
                letter-spacing: -0.64px;
                font-weight: bold;
                margin-left: 0.2vw;
            }
        }
    }

    .right-row {
        position: absolute;
        right: 0;
        width: 6.3vw;
        height: 11.5vh;
        justify-content: center;
        align-self: center;
        display: flex;
        cursor: pointer;
        transition: 0.5s;

        .circle-1 {
            border-radius: 50%;
            width: 0.93vw;
            height: 0.93vw;
            background-color: white;
            position: absolute;
            right: -0.36vw;
            top: -0.83vh;
        }

        .circle-2 {
            border-radius: 50%;
            width: 0.93vw;
            height: 0.93vw;
            background-color: white;
            position: absolute;
            right: -0.36vw;
            bottom: -0.83vh;
        }

        .text {
            align-self: center;
            display: flex;
            width: 3vw;
            font-family: NotoSansCJKkr;
            font-size: 1.5vh;
            line-height: 1.63;
            letter-spacing: -0.64px;
            color: #747474;
            transition: 0.5s;
        }
    }
}