@import 'variables.scss';

.login__container{
    margin-top: 20vh;
    text-align: center;
  .login__header{
    margin: 20px;
    margin-bottom: 40px;
    .login__title{
      margin: 20px;
      font-size: 24px;
      font-weight: bold;
    }
    .login__info{
      font-size: 8px;
      margin-bottom: 4px;
    }
    .login__info:nth-child(3){
      color: $red;
    }
  }
}