@import 'variables.scss';


.step-container{
  @extend %step-container; 
  z-index: 1;
  position: absolute;
  left: 60px;
  transition: all 1s ease;
  .contents{
    // transition: all 1s ease;
    // margin-left : 0;
    display: flex;
    min-width: 1140px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding-left: 55px;
    .column{
      &.left{
        font-weight: bold;
        font-size: 24px;
        p { 
          margin-bottom: 9px;
          letter-spacing: -1.4px;
         }
        p:nth-child(3){
          margin-bottom: 25px;
        }
        button{
          width: 230px;
          height: 36px;
          padding: 3px;
          border-radius: 29px;
          font-weight: bold;
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 5px;

          img{
            height: 25px;
            margin-right: 5px;
          }
        }
        .facebook{
          background-color:#4a6ef4;
          color: white;
          font-weight: 500;
        }
      }
      &.middle{
        width: 380px;
        // width: 33%;
        position: relative;
        img{
          width: 100%;
          position: absolute;
          // left: -125px;
          top: -20px;
        }
      }
      &.right{
        position: relative;
        left: -55px;
        display: flex;
        align-items: center;
        .circle{
          width: 280px;
          height: 280px;
          border-radius: 50%;
          background-color: $neon;
        }
        .letsgo-img{
          position: relative;
          height: 200px;
          img {
            position: absolute;
            left: -71px;
            height: 100%;
            object-fit: contain;
          }
        }
        .next-btn{
          position: relative;
          left: 30px;
        }
      }
    }
  }

}

.bar{
  @extend %bar;
  transition: all 4s ease ;
  -webkit-transition: all 4s ease;
  position: absolute;
  width: 60px;
  height: 100vh;
  right: 0px;
  white-space: nowrap;
  background-color: $red; 
  color: white;
}

  .move-left{
    margin-left: -100%;
    // display: none;
  }
  
  .bar-left{
    left: 0;
  }
    
  

