/* Colors */
$neon: #e1ff01;
$red: #fb3e1d;
$grey : #161616;

*:focus {
  outline: none;
}

/* About Background*/
%back-image-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 0;
}

/* About Circle */
%circle-default{
  width: 23vw;
  height: 23vw;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

$red-border: 1px solid #fb3e1d;

/* Register Steps */
%step-container{
  width: -webkit-calc(100% - 120px);
  width:     -moz-calc(100% - 120px);
  width:         calc(100% - 120px);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: white;
} 

%bar{
  width: 60px;
  height: 100vh;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
  padding-right: 20px;
}
